:root{
    --base-100:#e6eed6;
    --base-200:#6200b3;
    --base-300:#ffa630;
    --base-400:#171717;
}
::--webkit-scrollbar{
    display: none;
}
main{

}
a{
    text-decoration: none;
    color: #fff;
    font-size: clamp(1.25rem,1.75vw,2.5rem);
    font-weight: lighter;
    line-height: 1.250;
}
h1,h2,h3{
    font-weight: lighter;
    line-height: 1.25;
}
h1{
    font-size: clamp(4rem,5vw,6rem);
}
h2{
    font-size: clamp(3rem,4vw,5rem);
}
h3{
    font-size: clamp(1.25rem,1.75vw,2.5rem);
}

p{
    font-size: 0.9rem;
    font-weight: 400;
}

section{
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 1;
}
.one{
    background-color: var(--base-100);
    color: #000;
}
.two{
    background-color: var(--base-200);
    color: #fff;
}
.three{
    background-color: var(--base-300);
    color: #000;
}
footer{
    position: relative;
    width: 100%;
    height: 75svh;
    background-color: var(--base-400);
    color: #fff;
    overflow: hidden;
}
.footer-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-35%);
    will-change: transform;
}
#footer-canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.5;
    z-index: -1;
}
.footer-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.footer-row{
    display: flex;
    justify-content: space-between;

}
.footer-row:nth-child(1) .footer-col:nth-child(1){
    flex: 3;

}
.footer-row:nth-child(1) .footer-col:nth-child(2){
    flex: 2;
    display: flex;
    gap: 2rem;
}

.footer-sub-col{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer-row h2{
    width: 75%;
}
@media (max-width:1000px) {
    .footer-row:nth-child(1){
        flex-direction: column;
        gap: 4rem;
    }
    .footer-row h2{
        width: 100%;
    }
}